@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url("./base.css");

body {
    background: var(--bg);
    margin: 0;
    padding: 0;
    --_width: 250px;
    font-family: 'Ubuntu', sans-serif;

    display: flex;
}
#left-panel {
    width: var(--_width);
    height: 100%;
    margin: 0;
    padding: 0;
}
#left-panel-bg {
    background: var(--text);
    opacity: 5%;

    border-radius: var(--border-radius);
    z-index: 10;
}
#left-panel-content {
    border-radius: var(--border-radius);
    z-index: 11;

    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}
#left-panel-bg, #left-panel-content {
    position: fixed;
    top: 0;
    left: 0;

    width: calc(var(--_width) - var(--margin)*2);
    height: calc(100% - var(--margin)*2);
    margin: var(--margin);

    border-radius: var(--border-radius);
}

#right-panel {
    width: calc(100vw - var(--_width));
    height: auto;
}

#header {
    position: fixed;
    right: var(--margin);
    top: 0;

    width: calc(100vw - var(--_width) - var(--margin)*2);
    height: 150px;

    z-index: 8;
}

#code {
    position: relative;
    left: 50%;
    transform: translate(-50%);

    width: 98%;
    height: 100px;
    margin: var(--margin) 0;

    background: var(--accent);
    border-radius: var(--border-radius);
}

#nav {
    display: flex;
    gap: var(--gap);

    width: 100%;

    padding: 8px 16px;
}

#nav a {
    height: 30px;
    min-width: 30px;
    max-width: fit-content;

    padding: 15px 0 0 0;

    color: var(--text);
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    transition: 0.5s ease;
}

#nav a:hover, #nav a:active {
    color: var(--text);
    font-size: 23px;
    text-decoration: underline;
}

#header hr {
    width: 98%;
    color: var(--text);
    border: 1px solid var(--text);
    --_c: rgba(187, 187, 187, 0.50);
}

#main {
    padding: var(--margin);
    width: 90%;
    position: relative;
    top: 180px;
    color: var(--text);
}