<div id="db_login">
    <form method="post">
        <h3>Loguj się kurwa💀</h3>
        <input id="host" name="host" type="text" placeholder="host" value="localhost" spellcheck="false" required />
        <input id="user" name="user" type="text" placeholder="username" spellcheck="false" required />
        <input id="password" name="password" type="password" spellcheck="false" placeholder="password" />
        <input id="database" name="database" type="text" placeholder="database name" spellcheck="false" required />
        <input type="submit" value="submit"/>
    </form>
    <div id="login_bg"></div>
</div>
