#login_bg {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 100vw;
    height: 100vh;

    content: "";
    background: black;
    opacity: 70%;

    z-index: 99;
}

#db_login form {
    position: fixed;
    top: 45%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 800px;
    height: 500px;

    display: flex;
    gap: 20px;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    background: var(--bg);
    opacity: 100%;

    border-radius: var(--border-radius);

    z-index: 100;
}

#db_login form input {
    width: 80%;
    height: 48px;

    padding: 0 15px;

    border: 0;
    border-radius: var(--border-radius);

    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

#db_login form input[type=submit]{
    background: var(--stBtn);
}

h3 {
    font-size: 32px;
    margin: 0;
    padding: 0;
    color: var(--text);
    font-family: 'Ubuntu', sans-serif;
}